$main-color: rgb(107,116,129);

$green-color: rgb(12,119,89);

$blue-color: rgb(14,110,251);

$red-color: rgb(221,65,68);

$black-color: rgb(40,46,48);

$white-color: rgb(255,255,255);

$text-color: rgb(127,126,128);
